<div class="jumbotron">
  <h1>IDS NN</h1>
  <p class="lead"><img src="images/ids.jpg" width="200px"/></p>
  <form ng-controller="Form" action="/upload" method="POST" enctype="multipart/form-data">
    <div ng-if="state">
        <div>Результат: {{state}}</div>
    </div>
    <div class="form-group">
        <label for="upload">Загрузите mpcap файл</label>
        <input type="file" id="upload" class="form-control" name="mcap"/>
    </div>
    <p><input class="btn btn-lg btn-success" type="submit" value="Upload"/></p>
  </form>
</div>
